html,body{
  font-family: "Microsoft YaHei";
  color:#333;
  background-color: #fff;
}
*{
  box-sizing: border-box;
  /* 去掉 轮播图 chrom浏览器的错误警告 */
  touch-action: pan-y;
}
h2,h3,p,span,ul{
  margin: 0;
}
ul{
  list-style: none;
}
html,body,#root,.App{
  height:100%
}
body{
  margin:0px;
  padding:0px;
}